/*
  © 2025 KondaSoft
  https://www.kondasoft.com
*/

.collection-list {
  background-color: rgba(var(--color-background), 1);
  background-image: var(--color-background-gradient, none);
  color: rgba(var(--color-text), 1);
}

.collection-list .container-full {
  padding-left: 1rem;
  padding-right: 1rem;
}

.collection-list .section-header.text-left[data-has-view-all="true"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-list .section-header.text-left[data-has-view-all="true"] .featured-collection-view-all {
  margin-left: 1rem;
  display: flex;
}

.collection-list .section-header.text-center .featured-collection-view-all,
.collection-list .section-header.text-right .featured-collection-view-all {
  margin-top: 0.25rem;
}

.collection-card {
  position: relative;
}

.collection-card a {
  display: block;
  outline: 2px solid transparent;
  outline-offset: .25rem;
  transition: all 0.2s ease-out;
}

.collection-card a:focus-visible {
  outline-color: rgba(var(--color-text), 1);
}

.collection-card .img-wrapper {
  overflow: hidden;
  position: relative;
}

.collection-card .img-wrapper img,
.collection-card .img-wrapper .placeholder-svg {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.collection-card .img-wrapper img:hover,
.collection-card a:focus-visible .img-wrapper img {
  transform: scale(1.05); 
}

.collection-card a:active .img-wrapper img {
  opacity: .75;
}

.collection-card .heading {
  text-transform: var(--title-text-transform);
  letter-spacing: var(--title-letter-spacing);
}

.collection-card[data-title-style="default"] .heading {
  margin: .75rem 0 1rem;
}

.collection-card[data-title-style="overlay"] .heading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .375rem 1rem;
  background-color: rgba(var(--color-text), 0.75);
  backdrop-filter: blur(5px);
  color: rgba(var(--color-background), 1);
  margin: 0;
  transition: all .2s ease-out;
}

.collection-card[data-title-style="overlay"] a:hover .heading,
.collection-card[data-title-style="overlay"] a:focus-visible .heading {
  background-color: rgba(var(--color-text), 0.9);
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.collection-card[data-title-font="body"] .heading {
  font-family: var(--font-family-body);
}

@media (min-width: 600px) and (max-width: 1199px) {
  .collection-list .carousel-slide {
    width: calc(100% / 2 - 1rem);
  }
}


@media (max-width: 1199px) {
  .collection-list {
    padding-top: calc(var(--padding-top) * 0.75);
    padding-bottom: calc(var(--padding-bottom) * 0.75);
  }
}

@media (min-width: 1200px) {
  .collection-list {
    padding-top: calc(var(--padding-top) * 1);
    padding-bottom: calc(var(--padding-bottom) * 1);
  }
}
